body{
    background-color: #1F363D;
    color:#edf0ea;
}

h1{
    padding-left: 18%;
}
h2, h4{
    padding-left: 7%;
}
p{
    padding-left: 60px;
}
.tarjeta{
    background-color: #336575;
    border-radius: 10px 100px 0px;
    width: 1200px;
    text-align: center;
    border-style: solid;
    border-color: #9EC1A3;
    transition: 0.3s;
}
.tarjeta:hover{
    border-radius: 50px 100px 0px;
    border-color: black;
}
.tarjetaCuerpo{
    padding-left: 30px;
    text-align: left;
}

.anotacion{
    width: 80%;
    padding: 5px 15px;
    background-color: #1F363D;
    border-style: dotted;
    border-radius: 0px;
    border-color: #9EC1A3;
    transition: 0.3s;
}
.anotacion:hover{
    border-radius: 30px;
    border-style: solid;
}

a{
    color: #edf0ea;
}
a:visited{
    color: aquamarine;
}